{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}


{% block content %}

<div class="container">
  <div class="div50l">
    <p>Our Team.</p>
  </div>
  <div class="div50r">
    <div class="divarea">
      <div class="divbox">

        <section id="boxes">
          <div class="divboxrow">
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" alt="">
              <div class="boxCon">
              </div>
            </div>
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" alt="">
              <div class="boxCon">
              </div>
            </div>
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" alt="">
              <div class="boxCon">
              </div>
            </div>
          </div>
        </section>
        <section id="boxes">
          <div class="divboxrow">
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" alt="">
              <div class="boxCon">
              </div>
            </div>
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" alt="">
              <div class="boxCon">
              </div>
            </div>
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" alt="">
              <div class="boxCon">
              </div>
            </div>
          </div>
        </section>
    </div>
  </div>

</div>
</div>


{% endblock %}
