{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}


{% block content %}

<div class="container">
  <div class="div50l">
    <h1>The Team.</h1>
  </div>
  <div class="div50r">
    <div class="divarea">
      <div class="divbox">

        <section id="boxes">
          <div class="divboxrow">
            <div class="box">
              <img src="{% static 'img/yoav.jpg' %}" class="image" alt="">
              <div class="overlay">
                <div class="text">
                <h3>Yoav Weber</h3>
                <p>Product Manager</p>
                <a href="https://www.linkedin.com/in/moritz-eich/"><img src="{% static 'img/linkedin.png' %}" alt=""></a>
                </div>
              </div>
            </div>
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" class="image" alt="">
              <div class="overlay">
                <div class="text">
                <h3>Tania Boliukh</h3>
                <p>Product Manager</p>
                <a href="https://www.linkedin.com/in/moritz-eich/"><img src="{% static 'img/linkedin.png' %}" alt=""></a>
                </div>
              </div>

            </div>
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" class="image" alt="">
              <div class="overlay">
                <div class="text">
                <h3>Mikel Weber</h3>
                <p>Interaction Designer</p>
                <a href="https://www.linkedin.com/in/moritz-eich/"><img src="{% static 'img/linkedin.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="boxes">
          <div class="divboxrow">
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" class="image" alt="">
              <div class="overlay">
                <div class="text">
                <h3>Laurens Saggau</h3>
                <p>Interaction Designer</p>
                <a href="https://www.linkedin.com/in/moritz-eich/"><img src="{% static 'img/linkedin.png' %}" alt=""></a>
                </div>
              </div>
            </div>
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" class="image" alt="">
              <div class="overlay">
                <div class="text">
                <h3>Moritz Eich</h3>
                <p>Backend Engineer</p>
                <a href="https://www.linkedin.com/in/moritz-eich/"><img src="{% static 'img/linkedin.png' %}" alt=""></a>
                </div>
              </div>
            </div>
            <div class="box">
              <img src="{% static 'img/welf.jpg' %}" class="image" alt="">
              <div class="overlay">
                <div class="text">
                <h3>Welf von Hören</h3>
                <p>Ideation & Frontend</p>
                <a href="https://www.linkedin.com/in/moritz-eich/"><img src="{% static 'img/linkedin.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
  </div>

</div>
</div>


{% endblock %}
