{% extends 'base.html' %}

{% block content %}

    <!-- HOW IT WORKS -->
    <section id="tutorial">
      <div class="container">
        <p>
          <span class="numberH">1  </span> choose a day<br>
          <span class="numberH">2  </span> get an email <br>
          <span class="numberH">3  </span> have lunch for less with someone like you <br>
          <span class="numberH">4  </span> share the magic
        </p>
      </div>
    </section>

    <!-- OUTRO -->
    <section id="outro">
          <a href="/login" class="link-btn">talk to someone</a>
    </section>


    <!-- FOOTER -->
    <footer class="footlinks">© talk2x 2018 | <a href="imprint.html">Imprint</a></footer>

{% endblock %}
