{% extends 'base.html' %}

{% load static %}

{% block title %}
<title> talk2x | Home </title>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}



{% block nav %}
<nav>
  <ul>
    <li ><a href="/home">Home</a></li>
    <li ><a href="/lunch">new lunch</a></li>
    <div class="dropdown">
      <button class="dropbtn">
      <img id="nav-profile" src="/uploads/{{request.user.picture}}" alt="Your Face">
      </button>
      <div class="dropdown-content">
        <a href="/profile/{{request.user.slug}}-{{request.user.id}}">Profile</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

  </ul>
</nav>
{% endblock %}



{% block content %}
<div class="container">
  <div class="card">
    <h1>Todays Lunch</h1>



        {% if todaysLunch %}
<div class="scrolling-wrapper">
        <div class="lunchcard">
          {{ todaysLunch.date }}

          {% for user in todaysLunch.user.all %}

          {{ user.first_name }}

          {% endfor %}

        </div>
        </div>
        {% endif %}

  </div>
</div>

<div class="container">
  <div class="card">
    <h1>Future Lunches</h1>


        {% for futurelunch in FutureLunch %}
        <div class="lunchcard">
          
          {{ futurelunch.date }}
          {{ futurelunch.user.email }}

          {% for user in futurelunch.user.all %}

          {{ user.first_name }}

          {% endfor %}

        </div>

        {% endfor %}


  </div>
</div>

<div class="container">
  <div class="card">
    <h1>Past Lunches</h1>

      {% for pastlunch in PastLunch %}
      <div class="lunchcard">
        <div class="lunchtext">
          {{ pastlunch.date }}
          {% for user in pastlunch.user.all %}

          {{ user.first_name }}

          {% endfor %}
        </div>

        <img src="{{ pastlunch.user.picture }}" alt="">
      </div>
      {% endfor %}
      <img src="" alt="">
    </div>
  </div>
</div>


{% endblock %}
