{% extends 'base.html' %}
{% load static %}



{% block style %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}



{% block nav %}
<nav>
  <ul>
    <li id="cta-login"><a href="/lunch">create lunch</a></li>
    <div class="dropdown">
      <button class="dropbtn">
      <img id="nav-profile" src="/uploads/{{user.picture}}" alt="Your Face"></button>
      <div class="dropdown-content">
        <a href="/profile/{{request.user.slug}}-{{request.user.id}}">Profile</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </ul>
</nav>
{% endblock %}



{% block content %}
<div class="container">
  <div class="card">
    <h1>Future Lunches</h1>



        {% for futurelunch in FutureLunch %}
<div class="scrolling-wrapper">
        <div class="lunchcard">
          {{ futurelunch.date }}
          {{ futurelunch.user.email }}
        </div>
        </div>
        {% endfor %}

  </div>
</div>

<div class="container">
  <div class="card">
    <h1>Future Lunches</h1>


        {% for futurelunch in FutureLunch %}
        <div class="lunchcard">
          {{ futurelunch.date }}
          {{ futurelunch.user.email }}
        </div>
        {% endfor %}


  </div>
</div>

<div class="container">
  <div class="card">
    <h1>Past Lunches</h1>

      {% for pastlunch in PastLunch %}
      <div class="lunchcard">
        {{ pastlunch.date }}
        {{ pastlunch.user.email }}
        {{ pastlunch.user.first_name }}
        <img src="{{ pastlunch.user.picture }}" alt="">
      </div>
      {% endfor %}
      <img src="" alt="">
    </div>
  </div>
</div>


{% endblock %}
