{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block nav %}
  <nav>
    <ul>
      {% if request.user.is_authenticated %}
      <li ><a href="/home">Home</a></li>
      <li ><a href="/lunch">create lunch</a></li>
      <div class="dropdown">
        <button class="dropbtn">
        <img id="nav-profile" src="uploads/{{request.user.picture}}" alt="Your Face"></button>
        <div class="dropdown-content">
          <a href="/profile/{{request.user.slug}}-{{request.user.id}}">Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
      {% else %}
      <li ><a href="/login">Login</a></li>
      <li id="cta-login"><a href="/signup">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
{% block content %}
<div class="background">
  <img  src="{% static 'img/background.jpg' %}" alt="">
  <div class="cta-talk">
    {% if request.user.is_authenticated %}
    <a class="cta-scale" href="/lunch">talk and eat with someone</a>
    {% else %}
    <a class="cta-scale" href="/signup">talk and eat with someone</a>
    {% endif %}
  </div>
</div>
<section id="boxes">
      <div class="container">
        <div class="box">
          <img src="{% static 'img/mac.png' %}" alt="">
          <div class="boxCon">
              <p>Select a day of the week to have lunch with someone.</p>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'img/tom.png' %}" alt="">
          <div class="boxCon">
              <p>Receive more information 1 hour before.</p>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'img/burger.png' %}" alt="">
          <div class="boxCon">
            <p>Go to lunch and talk to someone like you.</p>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <video class="center" controls>
      <source src="{% static 'img/video.mp4' %}" type="video/mp4">
    </div>

{% endblock %}
