{% extends 'base.html' %}
{% load static %}
{% block title %}
<title> talk2x | New Lunch </title>
{% endblock %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/lunch.css' %}">
{% endblock %}


{% block nav %}
  <nav>
    <ul>
      <li ><a href="/home">Home</a></li>
      <li ><a href="/lunch">new lunch</a></li>
      <div class="dropdown">
        <button class="dropbtn">
        <img id="nav-profile" src="{% static 'img/face.png' %}" alt="Your Face"></button>
        <div class="dropdown-content">
          <a href="/profile/{{request.user.slug}}-{{request.user.id}}">Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </ul>
  </nav>
{% endblock %}

{% block content %}

<div class="container">
  <div class="card">
    <div class="setlunch">

      <h2> You will be notified about your partner and the restaraunt at 12pm the day you scheduled your lunch and exptected to meet him there at 1pm  </h2>

      <form method="post">

        {% csrf_token %}

        {% for field in form.visible_fields %}

          <div>{{ field.label_tag }}</div>

          {% if field.errors %}
          <ul>
            {% for error in field.errors %}
              <li class='error'>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          {{ field }}

        {% endfor %}

        <button type="submit">Set Lunch!</button>





      </form>
    </div>
  </div>
</div>

{% endblock %}
