{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Edit Profile</title>
{% endblock %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
{% endblock %}
{% block nav %}
  <nav>
    <ul>
      <li id="cta-login"><a href="/home">home</a></li>
      <li id="cta-login"><a href="/lunch">new lunch</a></li>
      <div class="dropdown">
        <button class="dropbtn">
        <img id="nav-profile" src="{% static 'img/face.png' %}" alt="{% static 'img/face.png' %}"></button>
        <div class="dropdown-content">
          <a href="/profile/{{request.user.slug}}-{{request.user.id}}">Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="card">

      <h1>Edit your profile</h1>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Update" />
      </form>





  </div>
</div>



{% endblock %}
