{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block nav %}
  <nav>
    <ul>
      <li id="cta-nav"><a href="/login">LOGIN</a></li>
    </ul>
  </nav>
{% endblock %}


{% block content %}

<div class="bg-image">

</div>

<div class="container">
      <div class="card">
        <div class="login">
        <form method="post">
<div class="signuplist">


          {% csrf_token %}

          {{ form.as_ul }}
</div>
<br>
          <button id="cta-login" type="submit">SIGNUP</button>
        </form>
      <p>Already a member? <a href="/login">Log In.</a></p>
      </div>

</div>
  </div>


{% endblock %}
