{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block nav %}
  <nav>
    <ul>
      <li id="cta-nav"><a href="/login">LOGIN</a></li>
    </ul>
  </nav>
{% endblock %}


{% block content %}


<div class="container">

      <div class="card">
        <div class="login">
        <form method="post">
          <div class="signuplist">


          {% csrf_token %}

            {% for field in form.visible_fields %}

              <div>{{ field.label_tag }}</div>

              {% if field.errors %}
              <ul>
                {% for error in field.errors %}
                  <li class='error'>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}

              {{ field }}

            {% endfor %}

            <p><input type="checkbox" name="t&c" value="t&c" id="t&c"> I accept the<a href="/tc" target="_blank"> Terms & Conditions</a>.</p>
            <div class='error'>{{ error }}</div>
          <br>


          <button id="cta-login" type="submit">SIGNUP</button>
        </form>
      <p>Already a member? <a href="/login">Log In.</a></p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
